[Desktop Entry]
Version=1.0
Type=Application
Name=GURPS Character Sheet
Icon=com.trollworks.gcs
Exec=run-gcs %F
Categories=Game;X-Roleplaying;Utility
Keywords=Roleplaying
MimeType=application/x-gcs-file
